body {
  padding-top: 50px !important; }

/*** Gallery Top Action Bar ***/
.gallery__action-bar {
  display: flex;
  align-items: center; }

.gallery__action-bar-left {
  display: flex;
  justify-content: space-between; }

.gallery__action-bar-right {
  display: flex;
  align-items: center; }
  .gallery__action-bar-right form {
    flex-basis: 100%;
    border: none !important;
    background-color: #fff !important;
    padding: 0 16px !important; }
    .gallery__action-bar-right form select {
      height: 2.3125rem;
      border-color: #DFEAEE;
      font-weight: bold; }
      .gallery__action-bar-right form select:after {
        content: "\f078";
        font-family: fontawesome; }

#gallery-filter-search {
  background-image: url(https://cdn2.hubspot.net/hubfs/126868/graphics/icons/med-search.png);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  background-size: auto 55%;
  text-indent: 35px;
  box-shadow: none;
  border-color: #DFEAEE; }
  #gallery-filter-search.placeholder {
    color: #787878; }
  #gallery-filter-search:-moz-placeholder {
    color: #787878; }
  #gallery-filter-search::-moz-placeholder {
    color: #787878; }
  #gallery-filter-search:-ms-input-placeholder {
    color: #787878; }
  #gallery-filter-search::-webkit-input-placeholder {
    color: #787878; }

/*** Sidebar ***/
.gallery__filter-card {
  border: 1px solid #DFEAEE;
  border-radius: 3px; }

.gallery__filter-card--header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DFEAEE;
  padding: 10px 20px;
  font-weight: bold; }

.gallery__filter-card--dropdown {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #E43B44; }

.gallery__filter-card--body {
  padding: 10px 20px 20px; }
  .gallery__filter-card--body form {
    border: none !important;
    background-color: #fff !important; }
    .gallery__filter-card--body form input {
      transform: none; }

/*** Image Gallery ***/
