/******************************************** 
  https://github.com/Eruedraith/KM-gallery 
********************************************/
/*** Gallery Top Action Bar ***/
.gallery__action-bar {
  display: flex;
  align-items: center;
  margin-bottom: 28px; }
  @media (min-width: 576px) and (max-width: 768px) {
    .gallery__action-bar {
      display: none; } }

.gallery__action-bar-left {
  display: flex;
  justify-content: space-between; }

.gallery__action-bar-right {
  display: flex;
  align-items: center; }
  .gallery__action-bar-right form {
    flex-basis: 100%;
    border: none !important;
    background-color: #fff !important;
    padding: 0 16px !important; }
    .gallery__action-bar-right form:last-child {
      padding-right: 0 !important; }
    .gallery__action-bar-right form select {
      height: 2.3125rem;
      border-color: #DFEAEE;
      font-weight: bold; }
      .gallery__action-bar-right form select:after {
        content: "\f078";
        font-family: fontawesome; }
      .gallery__action-bar-right form select:active, .gallery__action-bar-right form select.nice-select.open {
        outline: none; }

#gallery-filter-search {
  background-image: url(https://cdn2.hubspot.net/hubfs/126868/graphics/icons/med-search.png);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  background-size: auto 55%;
  text-indent: 35px;
  height: 42px;
  line-height: 42px;
  box-shadow: none;
  border-color: #DFEAEE;
  margin-bottom: 0; }
  #gallery-filter-search.placeholder {
    color: #787878; }
  #gallery-filter-search:-moz-placeholder {
    color: #787878; }
  #gallery-filter-search::-moz-placeholder {
    color: #787878; }
  #gallery-filter-search:-ms-input-placeholder {
    color: #787878; }
  #gallery-filter-search::-webkit-input-placeholder {
    color: #787878; }

/*** Sidebar ***/
.gallery__filter .gallery__filter-card:first-child {
  margin-top: 0; }

.gallery__filter-card {
  border: 1px solid #DFEAEE;
  border-radius: 3px;
  margin-top: 20px; }

.gallery__filter-card--header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: bold; }
  .gallery__filter-card--header:hover {
    cursor: pointer; }

.gallery__filter-card--dropdown {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #E43B44; }
  .gallery__filter-card--dropdown:hover {
    cursor: pointer; }

.gallery__filter-card--body {
  padding: 0 20px 14px;
  border-top: 1px solid #DFEAEE; }
  .gallery__filter-card--body form {
    border: none !important;
    background-color: #fff !important; }
    .gallery__filter-card--body form input {
      transform: none !important; }
      .gallery__filter-card--body form input:hover {
        cursor: pointer; }

/*** Image Gallery ***/
.gallery__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .gallery__img .gallery__img--card {
    border: 1px solid #DFEAEE;
    flex-basis: 31%;
    width: 31%;
    margin-bottom: 20px;
    border-radius: 3px; }
    .gallery__img .gallery__img--card:hover {
      cursor: pointer;
      box-shadow: 0 2px 20px #D9DFF0;
      -moz-box-shadow: 0 2px 20px #D9DFF0;
      -webkit-box-shadow: 0 2px 20px #D9DFF0; }
    .gallery__img .gallery__img--card:before, .gallery__img .gallery__img--card:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity .38s ease-in-out, transform .35s ease-in-out;
      content: '';
      opacity: 0;
      pointer-events: none; }
    .gallery__img .gallery__img--card:before {
      transform: scale3d(0, 1, 1);
      transform-origin: left top;
      border-top: 1px solid #E43B44;
      border-bottom: 1px solid #E43B44;
      border-radius: 3px; }
    .gallery__img .gallery__img--card:after {
      transform: scale3d(1, 0, 1);
      transform-origin: right top;
      border-right: 1px solid #E43B44;
      border-left: 1px solid #E43B44;
      border-radius: 3px; }
    .gallery__img .gallery__img--card:hover::before, .gallery__img .gallery__img--card:hover::after, .gallery__img .gallery__img--card:focus::before, .gallery__img .gallery__img--card:focus::after {
      transform: scale3d(1, 1, 1);
      opacity: 1; }
  .gallery__img .gallery__img--background {
    background-size: cover;
    height: 210px; }
  .gallery__img .gallery__img--body {
    padding: 13px 20px 18px; }
  .gallery__img .gallery__img--props {
    list-style: none;
    margin-left: 0;
    font-size: 13px;
    margin-bottom: 0; }
    .gallery__img .gallery__img--props li {
      padding-bottom: 9px; }
      .gallery__img .gallery__img--props li:last-child {
        padding-bottom: 0; }
    .gallery__img .gallery__img--props > li img {
      padding-right: 13px; }

.nice-select {
  background-color: #fff;
  font-weight: bold;
  border-radius: 3px;
  border: solid 1px #DFEAEE;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto; }
  .nice-select:hover {
    border-color: #cedfe5; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #222; }
  .nice-select:after {
    border-bottom: 3px solid #E43B44;
    border-right: 3px solid #E43B44;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    width: 8px; }
  .nice-select.open:after {
    transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #222;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #555555; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    width: 100%; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #F0F2F8; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #222;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }
