// Mixins 
@mixin form-override {
	border: none !important;
	background-color: #fff !important;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin box-shadow {
	box-shadow: 0 2px 10px #D9DFF0;
	-moz-box-shadow: 0 2px 10px #D9DFF0;
	-webkit-box-shadow: 0 2px 10px #D9DFF0;
}


// Variables 
$border-color: #DFEAEE;
$red:		   #E43B44;

body {
	padding-top: 50px !important;
}


/*** Gallery Top Action Bar ***/
.gallery__action-bar {
	display: flex;
	align-items: center;
}

.gallery__action-bar-left {
	display: flex;
	justify-content: space-between;
}

.gallery__action-bar-right {
	display: flex;
	align-items: center;
	
	form {
		flex-basis: 100%;
		// overrides default styling
		@include form-override;
    	padding: 0 16px !important;

    	&:last-child {
    		padding-right: 0 !important;
    	}

    	select {
    		height: 2.3125rem;
    		border-color: $border-color;
    		font-weight: bold;

    		&:after {
    			content: "\f078";
    			font-family: fontawesome;
    		}
    	}
	}
}

#gallery-filter-search {
	background-image: url(https://cdn2.hubspot.net/hubfs/126868/graphics/icons/med-search.png);
    background-repeat: no-repeat;
    background-position: 12px 8px;
    background-size: auto 55%;
    text-indent: 35px;
    box-shadow: none;
    border-color: $border-color;

    @include input-placeholder {
    	color: #787878;
    }
}

/*** Sidebar ***/

.gallery__filter-card {
	border: 1px solid $border-color;
	border-radius: 3px;
}

.gallery__filter-card--header {
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid $border-color;
	padding: 10px 20px;
	font-weight: bold;
}

.gallery__filter-card--dropdown {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: $red;

	&:hover {
		cursor: pointer;
	}
}

.gallery__filter-card--body {

	padding: 10px 20px 20px;
	
	form {
		// overrides default styling
		@include form-override;

		input {
			transform: none;

		}
	}
}


/*** Image Gallery ***/

.gallery__img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.gallery__img--card {
		border: 1px solid $border-color;
		flex-basis: 31%;
		margin-bottom: 20px;
		border-radius: 3px;
		@include box-shadow;
	}

	.gallery__img--background {
		background: url(https://source.unsplash.com/random);
		background-size: cover;
		height: 210px;
	}

	.gallery__img--body {
		padding: 10px 20px 21px;
	}

	.gallery__img--props {
		list-style: none;
		margin-left: 0;
		font-size: 13px;
		margin-bottom: 0;

		> li i {
			padding-right: 10px;
			opacity: .23;
		}
	}

}