<!-----------
  DEPENDENCIES
  isotope.js
  swipebox.js
  swipebox.css
---------------->

<div class="gallery">
  <div class="row-fluid">
    <!-- TOP BAR -->
    <div class="gallery__action-bar hide-for-small-only">
      <!-- FILTER CLEAR -->
      <div class="span3">
          <div class="gallery__action-bar-left">Filter:
            <a href="JavaScript:void(0);" id="clear-filters">Clear all</a>
          </div>
      </div>
      <!-- SPACER -->
      <div class="span1"></div>
      <!-- SORTS & SEARCH -->
      <div class="span8">
        <div class="gallery__action-bar-right">
          <form id="sort-by">
            <select name="sort-by">
              <option value="popular">Most Popular</option>
              <option value="arrival">Most Recent</option>
            </select>
          </form>
          <form id="solution-filter">
            <select name="solutions-sort">
              <option value="*">All</option>
              <option value="Cabinet Refacing">Cabinet Refacing</option>
              <option value="New Cabinets">New Cabinets</option>
              <option value="cabinet-refacing">cabinet-refacing</option>
            </select>
          </form>
          <form id="search-bar" action="javascript:void(0);">
          	<input id="gallery-filter-search" type="text" placeholder="Search...">
      	  </form>
        </div>
      </div>
      <!-- END TOP BAR -->
  </div>
  
  <div class="row-fluid">
    <!-- SIDEBAR FILTERS -->
    <div class="span3 gallery__filter hide-for-small-only">
      <!-- KITCHEN DESIGN STYLES -->
      <div class="gallery__filter-card">
        <div class="gallery__filter-card--header">
          Kitchen Design Styles
          <span class="gallery__filter-card--dropdown"><i class="fa fa-chevron-down"></i></span>
        </div>
        <div class="gallery__filter-card--body">
          <form class="gallery__filter-card-checkbox">          
            {% for design in hubdb_table_column('697229', 'kitchen_design_style').options %}
              <div class="form-check">
                <input type="checkbox" id="" name="{{ design.name }}" value=".{{ design.name }}" data-filter=".{{ design.name }}">
                <label>{{ design.name }}</label>
              </div>
            {% endfor %}
          </form>
        </div>
      </div>
  		<!-- COLOR FAMILY -->
      <div class="gallery__filter-card">
        <div class="gallery__filter-card--header">
          Color Family
          <span class="gallery__filter-card--dropdown"><i class="fa fa-chevron-down"></i></span>
        </div>
        <div class="gallery__filter-card--body">
          <form class="gallery__filter-card-checkbox">          
            {% for color in hubdb_table_column('697229', 'cabinet_color_family').options %}
              <div class="form-check">
                <input type="checkbox" id="" name="{{ color.name }}" value=".{{ color.name }}" data-filter=".{{ color.name }}">
                <label>{{ color.name }}</label>
              </div>
            {% endfor %}
          </form>
        </div>
      </div>
      <!-- CABINET STYLES -->
       <div class="gallery__filter-card">
        <div class="gallery__filter-card--header">
          Cabinet Styles
          <span class="gallery__filter-card--dropdown"><i class="fa fa-chevron-down"></i></span>
        </div>
        <div class="gallery__filter-card--body">
          <form class="gallery__filter-card-checkbox">          
            {% for style in hubdb_table_column('697229', 'cabinet_style').options %}
              <div class="form-check">
                <input type="checkbox" id="" name="{{ style.name }}" value=".{{ style.name }}" data-filter=".{{ style.name }}">
                <label>{{ style.name }}</label>
              </div>
            {% endfor %}
          </form>
        </div>
      </div>
      <!-- CABINET MATERIAL -->
       <div class="gallery__filter-card">
        <div class="gallery__filter-card--header">
          Cabinet Material
          <span class="gallery__filter-card--dropdown"><i class="fa fa-chevron-down"></i></span>
        </div>
        <div class="gallery__filter-card--body">
          <form class="gallery__filter-card-checkbox">          
            {% for row in hubdb_table_column('697229', 'cabinet_material').options %}
              <div class="form-check">
                <input type="checkbox" id="" name="{{ row.name }}" value=".{{ row.name }}" data-filter=".{{ row.name }}">
                <label>{{ row.name }}</label>
              </div>
            {% endfor %}
          </form>
        </div>
      </div>
      
      <!-- COUNTEROP MATERIAL -->
       <div class="gallery__filter-card">
        <div class="gallery__filter-card--header">
          Countertop Material
          <span class="gallery__filter-card--dropdown"><i class="fa fa-chevron-down"></i></span>
        </div>
        <div class="gallery__filter-card--body">
          <form class="gallery__filter-card-checkbox">          
            {% for row in hubdb_table_column('697229', 'countertop_material').options %}
              <div class="form-check">
                <input type="checkbox" id="" name="{{ row.name }}" value=".{{ row.name }}" data-filter=".{{ row.name }}">
                <label>{{ row.name }}</label>
              </div>
            {% endfor %}
          </form>
        </div>
      </div>
      
        <!-- COUNTEROP MATERIAL -->
       <div class="gallery__filter-card">
        <div class="gallery__filter-card--header">
          Countertop Color
          <span class="gallery__filter-card--dropdown"><i class="fa fa-chevron-down"></i></span>
        </div>
        <div class="gallery__filter-card--body">
          <form class="gallery__filter-card-checkbox">          
            {% for row in hubdb_table_column('697229', 'countertop_color').options %}
              <div class="form-check">
                <input type="checkbox" id="" name="{{ row.name }}" value=".{{ row.name }}" data-filter=".{{ row.name }}">
                <label>{{ row.name }}</label>
              </div>
            {% endfor %}
          </form>
        </div>
      </div>
      
        <!-- BACKSPLASH -->
       <div class="gallery__filter-card">
        <div class="gallery__filter-card--header">
          Backsplash Material
          <span class="gallery__filter-card--dropdown"><i class="fa fa-chevron-down"></i></span>
        </div>
        <div class="gallery__filter-card--body">
          <form class="gallery__filter-card-checkbox">          
            {% for row in hubdb_table_column('697229', 'backsplash_material').options %}
              <div class="form-check">
                <input type="checkbox" id="" name="{{ row.name }}" value=".{{ row.name }}" data-filter=".{{ row.name }}">
                <label>{{ row.name }}</label>
              </div>
            {% endfor %}
          </form>
        </div>
      </div>
     
    </div>
    <!-- GALLERY IMAGES -->
    <div class="span9">
    	<div class="gallery__img gallery__img-grid">       
    		<!-- REPEATED CARD -->
   			{% for row in hubdb_table_rows(697229, 'is_cover__eq=1') %}
    		<div id="{{row.kitchen_number}}" class="gallery__img--card  {{row.kitchen_design_style.name}} {{row.cabinet_color_family.name}} {{row.cabinet_styles.name}}  {{row.cabinet_material.name}} {{row.countertop_material.name}} {{row.countertop_color.name}} {{row.backsplash_material.name}} Cabinet-Refacing" data-popular-sort="{{row.most_popular_sort}}" data-arrival-sort="{{row.new_arrival_sort}}">
    			<div class="gallery__img--background" style="background-image: url({{ row.image_url }});"></div>
    			<div class="gallery__img--body">
    				<ul class="gallery__img--props">
    					<li><i class="fa fa-wrench"></i> {{row.cabinet_style.name}}</li>
    					<li><i class="fa fa-wrench"></i> {{row.countertop_material.name}}</li>
    					<li><i class="fa fa-wrench"></i> {{row.solutions.name}}</li>
    				</ul>
    			</div>
    		</div>
    		{% endfor %}
    		<!-- END REPEAT -->
    	</div>
    </div>
    <!-- END GALLERY IMAGES -->
  </div>
</div>

<!-- ISOTOPE -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<!-- SWIPEBOX -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js"></script>
<!-- jQuery NICE SELECT -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>